<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muhammad Hassnain Raza</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="name-card">
        <div class="profile-pic">
            <img src="../static/profile-picture.jpeg" alt="picture">
        </div>
        <div class="name">
            <p>Muhammad Hassnain Raza</p>
        </div>
        <div class="job">
            <p>Full Stack Developer</p>
        </div>
        <div class="social-medias">
            <a href="https://github.com/HasnainRaza026">
                <div class="github">
                    <img src="../static/github.png" alt="github">
                </div>
            </a>
            <a href="">
                <div class="x">
                    <img src="../static/twitterx.png" alt="X">
                </div>
            </a>
            <a href="https://www.linkedin.com/in/muhammadhassnainraza026/">
                <div class="linkedin">
                    <img src="../static/linkedin.png" alt="linkedin">
                </div>
            </a>
        </div>
    </div>
</body>
</html>