<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="top-header">
        <p>My Blog</p>
    </div>

    <div class="main">
        <div class="content-div">
            <div class="title">
                <p>{{title}}</p> 
            </div>
            <div class="sub-title">
                <p>{{subtitle}}</p> 
            </div>
            <div class="body">
                <p>{{body}}</p>
            </div>
        </div>
    </div>
</body>
</html>