<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="top-header">
        <p>My Blog</p>
    </div>

    <div class="main">
    {% for item in data: %}
        <div class="content-div">
            <div class="title">
                <p>{{item["title"]}}</p> 
            </div>
            <div class="sub-title">
                <p>{{item["subtitle"]}}</p> 
            </div>
            <div class="link">
            <a href="{{ url_for('blog', title=item['title'], subtitle=item['subtitle'], body=item['body']) }}">Read</a>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>